.more-screen .icon-row {
    margin-top: 35px;
}
.trend-imgs{
    width: 500px;
    height: 250px;
    overflow-x: scroll;
}
.trend-imgs__column{
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.trend-imgs__img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 0px 10px;
    box-sizing: border-box;
}